:root {
  /* Colors */
  --color-primary: #6E07F3;
  --color-secondary: #141c3a;
  --color-tertiary: #ffffff;
  --color-border: #E6ECF8;

  /* Fonts */
  --font-size-base: 16px;

  /* Layout */
  --header-height-size: 92px;
  --body-min-width: 300px;
}