@import "tailwindcss";
@import "./styles/variable.css";

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* custom global overrides */
html,
body {
  min-width: var(--body-min-width);
  scroll-behavior: smooth;
  font-family: var(--font-inter), sans-serif;
  color: var(--color-secondary);
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  font-size: var(--font-size-base);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat), sans-serif;
}

.main-heading{
  @apply font-black text-[2rem] mb-[1.5rem]
}